h1 {
  margin: 0;
  padding: 0;
}
html,
body,
.app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: relative;
  left: 25%;
  width: 50%;
  top: 25%;
  background: white;
}
.popup_inner form {
  padding: 7%;
}
