.login-wrap {
  width: 320px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #eee;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 4px;
}

.form-group.last {
  margin-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
